



.categoryDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    gap: 40px;
    background: linear-gradient(180deg, rgba(204, 38, 27, 0) 0%, rgba(204, 38, 27, 0.1) 100%);
    

}
.categoryDiv:nth-child(2){
    background-color: red;
}

.categoryContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.container{
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    border: 1px solid red;
}

