main {
  width: 100%;
  height: auto;
}

.container {
  width: 86%;
  margin: auto;
  height: auto;
}
.contact_section {
  margin-top: 200px;
}
.contact_section h1 {
  text-align: center;
  font-size: 70px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.contact {
  width: 100%;
  height: 55vh;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.contact img {
  width: 30%;
  height: auto;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  background: linear-gradient(180deg, rgba(231, 249, 253, 0) 0%, #e7f9fd 100%);
}
form {
  margin-left: 50px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

label {
  width: 40%;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: 60px;
}

label input {
  width: 100%;
  height: 40px;
  padding: 20px;
  font-size: medium;
  border-radius: 20px;
  border: 1px #0000001a solid;
  outline: none;
}
.label1 {
  width: 90%;
  height: 160px;
}
label textarea {
  width: 100%;
  height: 100%;
  padding: 20px;
  font-size: x-large;
  border-radius: 20px;
  border: 1px #0000001a solid;
  outline: none;
}
label h3 {
  font-size: 20px;
  color: #00000099;
  margin-left: 10px;
  margin-bottom: 10px;
  font-weight: 500;
}

label select {
  width: 100%;
  height: 40px;
  padding: 20px;
  font-size: large;
  border-radius: 20px;
  border: 1px #0000001a solid;
  outline: none;
  color: #00000099;
}
label select option {
  width: 100%;
  height: 40px;
  padding: 20px;
  font-size: large;
  border-radius: 20px;
  border: 1px #0000001a solid;
  outline: none;
  color: #00000099;
}
label h3 {
  font-size: 20px;
  color: #00000099;
  margin-left: 10px;
  margin-bottom: 10px;
  font-weight: 500;
}

form button {
  margin-top: 100px;
  padding: 30px 80px;
  font-size: large;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 20px;
}
.recipe_section {
  width: 100%;
  height: auto;
  margin-top: 300px;
}

.recipe_section h1 {
  font-size: 55px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}

.recipe {
  width: 100%;
  margin-top: 100px;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.food {
  width: 380px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.food_img {
  width: 100%;
  height: 260px;
  border-radius: 20px;
}

.food h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 23px;
  text-align: start;
  width: 90%;
}
.food_icons {
  width: 100%;
  height: auto;
  display: flex;
  gap: 50px;
}

.food_icons div {
  display: flex;
  gap: 10px;
  align-items: center;
}

.food_icons img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.food_icons h3 {
  color: #00000099;
  font-size: 18px;
}

.newsletter {
  width: 100%;
  height: 60vh;
  background-image: url("./contactus_img/Mask\ Group\ \(1\).png");
  background-size: cover;
  margin: auto;
  margin-top: 300px;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.newsletter h1 {
  font-size: 60px;
}

.newsletter p {
  font-size: 23px;
  margin-top: 20px;
  color: #00000099;
  width: 50%;
  text-align: center;
}
.newsletter div {
  width: 700px;
  height: 100px;
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #fff;
  border-radius: 20px;
}

.newsletter div input{
  width: 400px;
  height: 100%;
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: large;
}
.newsletter div button{
  height: 80%;
  width: 200px;
  border: none;
  background-color: #000;
  color: #fff;
  font-size: large;
  border-radius: 20px;
}
@media (max-width: 1200px) {
  main {
    width: 100%;
    height: auto;
  }

  .container {
    width: 86%;
    margin: auto;
    height: auto;
  }
  .contact_section {
    margin-top: 200px;
  }
  .contact_section h1 {
    text-align: center;
    font-size: 70px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
  .contact {
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
  }

  .contact img {
    width: 400px;
    height: 60vh;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    background: linear-gradient(
      180deg,
      rgba(231, 249, 253, 0) 0%,
      #e7f9fd 100%
    );
  }
  form {
    margin-left: 50px;
    width: 60%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  label {
    width: 40%;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    margin-bottom: 60px;
  }

  label input {
    width: 100%;
    height: 40px;
    padding: 20px;
    font-size: small;
    border-radius: 20px;
    border: 1px #0000001a solid;
    outline: none;
  }
  .label1 {
    width: 90%;
    height: 160px;
  }
  label textarea {
    width: 100%;
    height: 100%;
    padding: 20px;
    font-size: small;
    border-radius: 20px;
    border: 1px #0000001a solid;
    outline: none;
  }
  label select {
    width: 100%;
    height: 40px;
    padding: 20px;
    font-size: small;
    border-radius: 20px;
    border: 1px #0000001a solid;
    outline: none;
    color: #00000099;
  }
  label select option {
    width: 100%;
    height: 40px;
    padding: 20px;
    font-size: small;
    border-radius: 20px;
    border: 1px #0000001a solid;
    outline: none;
    color: #00000099;
  }
  label h3 {
    font-size: 15px;
    color: #00000099;
    margin-left: 10px;
    margin-bottom: 10px;
    font-weight: 500;
  }

  form button {
    margin-top: 50px;
    padding: 20px 60px;
    font-size: medium;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 20px;
  }
  .recipe_section {
    width: 100%;
    height: auto;
    margin-top: 300px;
  }

  .recipe_section h1 {
    font-size: 45px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    text-align: center;
  }

  .recipe {
    width: 100%;
    margin-top: 100px;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .food {
    width: 300px;
    height: 320px;
    display: flex;
    flex-wrap: wrap;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin-bottom: 20px;
    margin-left: 20px;
  }

  .food_img {
    width: 100%;
    height: 200px;
    border-radius: 20px;
  }

  .food h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    text-align: start;
    width: 90%;
  }
  .food_icons {
    width: 100%;
    height: auto;
    display: flex;
    gap: 30px;
  }

  .food_icons div {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .food_icons img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }

  .food_icons h3 {
    color: #00000099;
    font-size: 15px;
  }
  
.newsletter {
  width: 100%;
  height: 60vh;
  background-image: url("./contactus_img/Mask\ Group\ \(1\).png");
  background-size: cover;
  margin: auto;
  margin-top: 300px;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.newsletter h1 {
  font-size: 60px;
}

.newsletter p {
  font-size: 23px;
  margin-top: 20px;
  color: #00000099;
  width: 50%;
  text-align: center;
}
.newsletter div {
  width: 700px;
  height: 100px;
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #fff;
  border-radius: 20px;
}

.newsletter div input{
  width: 400px;
  height: 100%;
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: large;
}
.newsletter div button{
  height: 80%;
  width: 200px;
  border: none;
  background-color: #000;
  color: #fff;
  font-size: large;
  border-radius: 20px;
}
}

@media (max-width: 950px) {
  main {
    width: 100%;
    height: auto;
  }

  .container {
    width: 86%;
    margin: auto;
    height: auto;
  }
  .contact_section {
    margin-top: 200px;
  }
  .contact_section h1 {
    text-align: center;
    font-size: 70px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
  .contact {
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
  }

  .contact img {
    width: 350px;
    height: 60vh;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    background: linear-gradient(
      180deg,
      rgba(231, 249, 253, 0) 0%,
      #e7f9fd 100%
    );
  }
  form {
    margin-left: 20px;
    width: 60%;
    height: auto;
  }

  label {
    width: 90%;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    margin-bottom: 20px;
  }

  label input {
    width: 100%;
    height: 20px;
    padding: 10px;
    font-size: small;
    border-radius: 20px;
    border: 1px #0000001a solid;
    outline: none;
  }
  .label1 {
    width: 90%;
    height: 120px;
  }
  label textarea {
    width: 100%;
    height: 100%;
    padding: 20px;
    font-size: small;
    border-radius: 20px;
    border: 1px #0000001a solid;
    outline: none;
  }
  label select {
    width: 100%;
    height: 40px;
    padding: 20px;
    font-size: small;
    border-radius: 20px;
    border: 1px #0000001a solid;
    outline: none;
    color: #00000099;
  }
  label select option {
    width: 100%;
    height: 40px;
    padding: 20px;
    font-size: small;
    border-radius: 20px;
    border: 1px #0000001a solid;
    outline: none;
    color: #00000099;
  }
  label h3 {
    font-size: 15px;
    color: #00000099;
    margin-left: 10px;
    margin-bottom: 10px;
    font-weight: 500;
  }

  form button {
    margin-top: 90px;
    padding: 20px 60px;
    font-size: small;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 20px;
  }
  .recipe_section {
    width: 100%;
    height: auto;
    margin-top: 300px;
  }

  .recipe_section h1 {
    font-size: 45px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    text-align: center;
  }

  .recipe {
    width: 100%;
    margin-top: 100px;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .food {
    width: 300px;
    height: 320px;
    display: flex;
    flex-wrap: wrap;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin-bottom: 20px;
    margin-left: 20px;
  }

  .food_img {
    width: 100%;
    height: 200px;
    border-radius: 20px;
  }

  .food h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    text-align: start;
    width: 90%;
  }
  .food_icons {
    width: 100%;
    height: auto;
    display: flex;
    gap: 30px;
  }

  .food_icons div {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .food_icons img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }

  .food_icons h3 {
    color: #00000099;
    font-size: 15px;
  }

  
.newsletter {
  width: 100%;
  height: 60vh;
  background-image: url("./contactus_img/Mask\ Group\ \(1\).png");
  background-size: cover;
  margin: auto;
  margin-top: 300px;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.newsletter h1 {
  font-size: 40px;
}

.newsletter p {
  font-size: 18px;
  margin-top: 20px;
  color: #00000099;
  width: 50%;
  text-align: center;
}
.newsletter div {
  width: 500px;
  height: 80px;
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #fff;
  border-radius: 20px;
}

.newsletter div input{
  width: 300px;
  height: 100%;
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: medium;
}
.newsletter div button{
  height: 80%;
  width: 100px;
  border: none;
  background-color: #000;
  color: #fff;
  font-size: medium;
  border-radius: 20px;
}
}

@media (max-width: 700px) {
  main {
    width: 100%;
    height: auto;
  }

  .container {
    width: 86%;
    margin: auto;
    height: auto;
  }
  .contact_section {
    margin-top: 200px;
  }
  .contact_section h1 {
    text-align: center;
    font-size: 50px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
  .contact {
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 100px;
    flex-direction: column;
  }

  .contact img {
    width: 300px;
    height: 400px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    background: linear-gradient(
      180deg,
      rgba(231, 249, 253, 0) 0%,
      #e7f9fd 100%
    );
    margin: auto;
  }
  form {
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 40px;
  }

  label {
    width: 80%;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    margin: auto;
    margin-bottom: 20px;
  }

  label input {
    width: 100%;
    height: 20px;
    padding: 10px;
    font-size: small;
    border-radius: 20px;
    border: 1px #0000001a solid;
    outline: none;
  }
  .label1 {
    width: 80%;
    height: 120px;
  }
  label textarea {
    width: 100%;
    height: 100%;
    padding: 20px;
    font-size: small;
    border-radius: 20px;
    border: 1px #0000001a solid;
    outline: none;
  }
  label select {
    width: 100%;
    height: 40px;
    padding: 20px;
    font-size: small;
    border-radius: 20px;
    border: 1px #0000001a solid;
    outline: none;
    color: #00000099;
  }
  label select option {
    width: 100%;
    height: 40px;
    padding: 20px;
    font-size: small;
    border-radius: 20px;
    border: 1px #0000001a solid;
    outline: none;
    color: #00000099;
  }
  label h3 {
    font-size: 15px;
    color: #00000099;
    margin-left: 10px;
    margin-bottom: 10px;
    font-weight: 500;
  }

  form button {
    margin-top: 90px;
    padding: 20px 60px;
    font-size: small;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 20px;
  }
  .recipe_section {
    width: 100%;
    height: auto;
    margin-top: 100px;
  }

  .recipe_section h1 {
    font-size: 30px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    text-align: center;
  }

  .recipe {
    width: 100%;
    margin-top: 100px;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 100px;
  }

  .food {
    width: 300px;
    height: 260px;
    display: flex;
    flex-wrap: wrap;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin-bottom: 20px;
    margin-left: 10px;
  }

  .food_img {
    width: 100%;
    height: 170px;
    border-radius: 20px;
  }
  .food_svg {
    position: absolute;
  }

  .food h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    text-align: start;
    width: 90%;
  }

  .food_icons {
    width: 100%;
    height: auto;
    display: flex;
    gap: 30px;
  }

  .food_icons div {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .food_icons img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }

  .food_icons h3 {
    color: #00000099;
    font-size: 15px;
  }

  
.newsletter {
  width: 100%;
  height: auto;
  background-image: url("./contactus_img/Mask\ Group\ \(1\).png");
  background-size: cover;
  margin: auto;
  margin-top: 100px;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.newsletter h1 {
  margin-top: 80px;
  font-size: 30px;
  text-align: center;
}

.newsletter p {
  font-size: 15px;
  margin-top: 20px;
  color: #00000099;
  width: 50%;
  text-align: center;
}
.newsletter div {
  width: 300px;
  height: 60px;
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #fff;
  border-radius: 20px;
margin-bottom: 80px;
}

.newsletter div input{
  width: 200px;
  height: 100%;
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: small;
}
.newsletter div button{
  height: 80%;
  width: 80px;
  border: none;
  background-color: #000;
  color: #fff;
  font-size: xx-small;
  border-radius: 20px;
}
}
